
/* container that is the header */
#displayAllSongsInPlaylistHeaderContainer{
    background-color: lightblue;
    margin-top: 20px;
    padding: 5px;
    width: 90%;
    min-width: 200px;
    border-radius: 40px;
    margin-right: auto;
    margin-left: auto;
}

/* container for the active playlist */
#activePlaylistContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
    #activePlaylistContainer img{
        width: 50px;
    }
    #activePlaylistContainer p{
        padding: 0px 10px;
    }
    #activePlaylistContainer button{
        margin-right: 10px;
    }