/* background-image: radial-gradient(#121B40 70%, #060D28) 
** lighter #121B40
** darker #060D28
*/
/* header container that holds the button options container and the title of the active operation */
#displaySongBankHeader{
    margin-top: 20px;
    position: relative;
    text-align: center;
    background-color: lightblue;
    padding: 10px;
    max-width: 90%;
    border-radius: 50px;
    margin: 20px auto 0px auto;
    color: #121B40;
    text-shadow: 1px 1px 1px black;
    box-shadow: 1px 1px 1px black;
}
    /* title of the current operation */
    #displaySongBankHeader h1{
        margin: 0px;
    }
    .playSongContainerButton.active{
    color: red;
    border-color: red;
}

/* container for the add songs body */
#addSongsToSongBankBody{
    margin-top: 30px;
}