/* background-image: radial-gradient(#121B40 70%, #060D28) 
** lighter #121B40
** darker #060D28
*/
input:focus{
    outline: none;
}

/* search input for searching songs */
.searchSongInput{
    background-color: pink;
    width: 100%;
    max-width: 400px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 30px;
    border: 2px solid hotpink;
    color: #121B40;
    font-size: 14px;
    letter-spacing: .3px;
    box-shadow: 1px 1px 5px black;
    margin-bottom: 10px;
}
    /* style for when their is an error with the user input */
    .inputErrorStyle{
        border: 2px solid red !important;
    }

/* descriptive header for the workbench operation components */
.workbenchOperationDescriptiveHeader{
    margin-top: 20px;
    position: relative;
    text-align: center;
    background-color: lightblue;
    padding: 10px;
    max-width: 90%;
    border-radius: 50px;
    margin: 20px auto 0px auto;
    color: #121B40;
    text-shadow: 1px 1px 1px black;
    box-shadow: 1px 1px 1px black;
}
    /* h1 in the workbenchOperationDescriptiveHeader */
    .workbenchOperationDescriptiveHeader h1{
        text-align: center;
        color: #121B40;
        text-shadow: 1px 1px 1px black;
        margin: 0px;
    }

/* buttons with lightblue background and dark blue border */
.primaryButtonStyle{
    margin: 5px;
    padding: 7px;
    background-color: lightblue;
    border: 2px solid #121B40;
    box-shadow: 1px 1px 2px black,
    2px 2px 3px pink,
    -1px -1px 3px black;
    border-radius: 30px;
    color: #121B40;
    text-shadow: 1px 1px 1px black;
    letter-spacing: .3px;
}
    /* for active primary buttons */
    .primaryButtonStyle.active{
        color: red;
        border-color: red;
    }
/* buttons with dark blue background */
.secondaryButtonStyle{
    margin: 5px;
    padding: 7px;
    background-color: #121B40;
    border: 2px solid lightblue;
    box-shadow: 1px 1px 2px black,
    2.5px 2.5px 4px green,
    -1px -1px 3px black;
    border-radius: 30px;
    color: lightblue;
    text-shadow: 1px 1px 1px black;
    letter-spacing: .3px;
}

/* absolute postion element class */
.positionAbsolute{
    position : absolute;
}