 body{
    background-color: #121B40;
    text-align: center;
}
#loginBody h1{
    color: lightblue;
    text-shadow: 1px 1px 1px black;
}
#loginBody a{
    background-color: #121B40;
    box-shadow: 2.5px 2.5px 4px green,
    -1px -1px 3px black;
    color: lightblue;
    margin : 5px auto;
    padding: 10px;
    border-radius: 15px;
    display: block;
    border: 2px solid lightblue;
    box-sizing: border-box;
    width: -moz-fit-content;
    width: fit-content;
    text-decoration: none;
}
#loginContainer{
    text-align: center;
    width:100%;
}