/* background-image: radial-gradient(#121B40 70%, #060D28) 
** lighter #121B40
** darker #060D28
*/

 /* container that holds the columns that display all the tracks in the playlist */
    .activePlaylistSongsListContainer{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
        /* column that holds the listed songs */
        .songListColumn{
            margin-top: 30px;
            margin-bottom: 50px;
            padding: 5px;
        }

            /* container tha holds the listed track */
            .songListContainer{
                display: flex;
                justify-content: start;
                align-items: flex-start;
                box-sizing: border-box;
                padding: 2px;
                border-bottom: 1px black solid;
                overflow-x : hidden;
                white-space: nowrap;
            }
                .songListContainer img{
                    width: 30px;
                    height: 30px;
                }
                .songListContainer p{
                    margin : 0px 2px;
                    color: lightblue;
                    text-align: left;
                }
                .songListContainer span{
                    display:block;
                    font-size: 12px;
                    letter-spacing: .1px;
                }
                .trackArtist{
                    color: pink;
                    margin-left: 4px;
                    font-size: 11px;
                }

    /* class for the songListContainers that are active to be removed */
    .removeableSongListContainer{
        background-color: pink;
        text-shadow: 1px 1px 1px black;
    }
        .removeableSongListContainer .trackArtist{
            color: #121B40;
        }