/* background-image: radial-gradient(#121B40 70%, #060D28) 
** lighter #121B40
** darker #060D28
*/

/* container that holds who operation */
#compareTwoPlaylistsContainer{

}

    /* container that is where the user selects each playlist */
    #selectPlaylistsContainer{
        display: flex;
        justify-content : space-evenly;
        margin-top: 20px;
        align-items: flex-start;
        padding-bottom: 20px;
    }
        /* container for selecting each individual playlist */
        #selectPlaylistOneContainer, #selectPlaylistTwoContainer{
            background-color: lightblue;
            padding: 5px;
        }
        /* container that holds the compare button */
        #compareButtonContainer{
            align-self: center;
        }

    /* container that holds all the tracks */
    #compareTwoPlaylistsTracksContainer{
        display: flex;
        flex-wrap: wrap;
        flex : 1 1 1;
        justify-content: space-between;
    }
        /* containers that holds the songs for each section */
        #compareTwoPlaylistsTracksContainer > div{
            min-width:300px;
            max-width: 200px;
            overflow: hidden;
        }
