/* background-image: radial-gradient(#121B40 70%, #060D28) 
** lighter #121B40
** darker #060D28
*/

/* container that holds who operation */
#compareTwoPlaylistsContainer{

}

    /* container that is where the user selects each playlist */
    #selectPlaylistsContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content : space-evenly;
        margin-top: 20px;
        align-items: flex-start;
        padding-bottom: 20px;
    }
        /* container for selecting each individual playlist */
        #selectPlaylistOneContainer, #selectPlaylistTwoContainer{
            background-color: lightblue;
            padding: 5px;
            margin-top: 15px;
            box-shadow: 2px 2px 3px black;
            border-radius: 30px 30px 0px 0px;
        }
        /* container that holds the compare button */
        #compareButtonContainer{
            align-self: center;
        }

    /* container that holds all the tracks */
    #compareTwoPlaylistsTracksContainer{
        display: flex;
        flex-wrap: wrap;
        flex : 1 1 1;
        justify-content: space-evenly;
    }
        /* containers that holds the songs for each section */
        #compareTwoPlaylistsTracksContainer > div{
            min-width:300px;
            max-width: 200px;
            overflow: hidden;
        }


    /* container that holds the options */
    #compareTwoPlaylistsOptionsContainer{
        padding: 10px;
        margin: 15px auto;
        background-color: lightblue;
        border-radius: 30px;
        max-width: fit-content;
        display:flex;
        flex-wrap: wrap;
        box-shadow: 2px 2px 3px black;
        justify-content: space-evenly;
    }
