section{
    height:700px;
    width:100%;
    background-color: blue;
}
footer{
    background-color: lightgrey;
    height: 300px;
}
.s{
    height: 17px;
}
p{
    color: black;
    font-weight: 700px;
    font-size: 18px;
    
}
img{
    padding: 0 3px 0 3px;
}
img:hover{
    height: 20px;
    
    cursor: pointer;
}