doctype html 
html 
    head 

    body 
        h1 Register
        form(action="/register" method="POST" id="loginForm")
            label(for="loginUsername")
            input(type="text" name="username" id="loginUsername")
            label(for="loginPassword")
            input(type="password" name="password" id="loginPassword")
            button(type="submit") Submit
        a(href="./login") login